@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro|Merriweather:700|Amatic+SC:700);
@import url(https://fonts.googleapis.com/css?family=Over+the+Rainbow|Open+Sans+Condensed:300);

*, *:before, *:after {
	box-sizing: border-box;
}

h3 {
	font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
	font-size: 50px;
	margin-top: 0;
	margin-bottom: 0;
  color: #000;
	border-bottom-width: medium;
  border-bottom-style: solid;
  border-bottom-color: #F54A60;
}

h4 {
  font-family: 'Merriweather', serif;
	font-size: 15px;
	margin-top: 1;
	margin-bottom: 0;
}

p {
	font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
	margin-top: 0;
}

.infobox {
	width: 400px;
	height: auto;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	position: absolute;
	background-color: #EEE;
  box-shadow: 4px 4px 10px 4px rgba(0, 0, 0, 0.2);
}

.infobox__close {
	width: 22px;
	height: 24px;
	padding: 5px;
	font-size: 1em;
	line-height: 0.9333333333em;
	color: black;
	position: absolute;
	top: 4px;
	right: 4px;
	text-decoration: none;
	display: block;
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
			border-radius: 10px;
	border: solid 1px black;
}
